* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f1ded0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  min-height: 14vh;
  min-width: 40vw;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-top: 4vh;
  margin-bottom: 6px;
}

.nav--logo {
  width: 164px;
}

.section {
  background-color: #fff;
  min-width: 40vw;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo--gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-top: 8vh;
}

.info {
  padding: 0 33px;
}

.info h1 {
  font-weight: 600;
  margin: 10px 5px;
}

p.info {
  width: 31vw;
}

.card--section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
  max-width: 44vw;
  gap: 20px;
  overflow: scroll;
  padding: 30px 20px;
}

.card {
  min-width: 175px;
  font-size: 12px;
  position: relative;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 4px 0px;
}

.card--star {
  width: 15px;
}

.card--light {
  color: #918e9b;
}

.card--price {
  margin: 4px 0px;
}

.card--bold {
  font-weight: bolder;
}

p.card--normal {
  font-weight: 400;
}

.card > h2 {
  font-weight: normal;
  font-size: 14px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
